body, html {
    height: 100%;
}

main {
    flex: 1;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
header nav ul li {
    margin-left: 20px; /* Spacing between menu items */
}

.message-success {
    color: green;
    /* other styling */
}

.message-error {
    color: red;
    background-color: #ffd6d6;
    padding: 10px;
    border: 1px solid red;
    margin-bottom: 20px;
}

.form-errors {
    color: red;
    background-color: #ffd6d6;
    padding: 10px;
    border: 1px solid red;
    margin-bottom: 20px;
}
